@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Colors */
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /* Accent */
    --blue: hsl(248, 32%, 49%);
    /* Neutral */
    --darkBlue: hsl(249, 10%, 26%); 
    --grayishBlue: hsl(246, 25%, 77%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    background-color: var(--red);
    background-image: url(../img/bg-intro-mobile.png);
    background-repeat: no-repeat;
    line-height: 1.6;
}

@media (min-width: 1200px) {
    body {
        background-image: url(../img/bg-intro-desktop.png);
        background-position: center center;
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.container {
    width: calc(100% - 3rem);
    max-width: 1100px;
    margin: 0 auto;
}

.content {
    margin-top: 5.5rem;
}

@media (min-width: 1200px) {
    .content {
        margin-top: 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
        align-items: center;
    }
}

.info {
    text-align: center;
    color: #ffffff;
}

@media (min-width: 1200px) {
    .info {
        text-align: left;
    }
}

.info-title {
    font-size: 1.75rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

@media (min-width: 1200px) {
    .info-title {
        font-size: 2.5rem;
        line-height: 1.2;
    }
}

.form-container {
    margin-top: 3.75rem;
}

@media (min-width: 1200px) {
    .form-container {
        margin-top: 0;
    }
}

.offer {
    background-color: var(--blue);
    border-radius: .5rem;
    padding: 1.5rem 3rem;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.offer::after {
    content: "";
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: .5rem;
}

.offer-text span {
    font-weight: 600;
}

.form {
    margin: 1.5rem 0;
    background-color: #ffffff;
    border-radius: .5rem;
    padding: 1.5rem;
    position: relative;
}

@media (min-width: 1200px) {
    .form {
        margin: 1.5rem 0 0;
    }
}

.form::after {
    content: "";
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: .5rem;
}

.fields {
    display: grid;
    gap: 1rem;
}

.field input {
    width: 100%;
    padding: 1.125rem;
    border-radius: .25rem;
    border: 2px solid #dadada;
    font-family: inherit;
    line-height: 1.2;
    font-weight: 600;
    color: var(--darkBlue);
    font-size: 1rem;
}

.field input::placeholder {
    color: var(--darkBlue);
    opacity: .8;
}

.field input:focus {
    outline: none;
    border: 2px solid var(--darkBlue);
}

.btn {
    margin-top: 1rem;
    background-color: var(--green);
    border: none;
    border-radius: .5rem;
    width: 100%;
    padding: 1.25rem 0;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
    outline: navajowhite;
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
}

.terms {
    margin-top: .75rem;
    font-size: 0.75rem;
    padding: 0 .75rem;
    color: var(--grayishBlue);
    text-align: center;
    line-height: 2;
}

.terms span {
    font-weight: 600;
    color: var(--red);
}

/* Invalid */
.field.is-invalid input {
    border: 2px solid var(--red);
    color: var(--red);
    background-image: url(../img/icon-error.svg);
    background-repeat: no-repeat;
    background-position: center right 1.5rem;
}

.field.is-invalid .invalid-feedback {
    display: block;
}

.invalid-feedback {
    display: none;
    margin-top: .5rem;
    color: var(--red);
    font-size: 0.875rem;
    text-align: right; 
    font-style: italic;
}